<form method="post" action="{% url 'brand_products' 'AD' %}">
    {% csrf_token %}
    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
            </span>
</form>





<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="{% url 'index' %}" target="_blank">
        <strong class="blue-text">Great Trainers</strong>
      </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-effect" href="{% url 'profile' %}">Profile
              <span class="sr-only">(current)</span>
            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'logout' %}" >Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'registration' %}" target="_blank">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'login' %}" target="_blank">Logout</a>
                </li>
            </ul>
            {% endfor %}
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> 1 </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect" target="_blank">
              <i class="fab fa-github mr-2"></i>MDB GitHub
            </a>
                </li>
            </ul>

        </div>

    </div>
</nav>





<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="{% url 'index' %}">Great Trainers</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarDropDown" aria-controls="NavbarDropDown" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="NavbarDropDown">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a href="{% url 'profile' %}">Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'registration' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login' %}">Login</a> {% endif %}
                </li>

                <li class="nav-item">
                    <a href="{% url 'view_cart' %}">
                            
                            <i class="fa fa-shipping-cart"></i>Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>

                </li>

                <div class="justify-content-center">
                    <form class="search-form" action="{% url 'search' %}" method="GET">
                        "> <input type="text" name="q"></span>

                        <span class="search-bar-button"> <button class="btn btn-secondary" type="submit">Search</button></span>

                    </form>
                </div>




            </ul>

        </div>
    </nav>