{% extends 'base.html' %} {% block page_heading %}
<h1>{{product_information.name}}</h1>
{% endblock %} {% block content %}





<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product_information.image_1 }}')"></div>
    </div>
    <div class="col-md-6 col-lg-6 product-info-text">
        <p>{{product_information.history_of_product_1}}</p>
    </div>

</div>


<div class="row">
    <div class="col-md-6 col-lg-6 product-info-text">
        <p>{{product_information.history_of_product_2}}</p>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product_information.image_2 }}')"></div>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product_information.image_3 }}')"></div>
    </div>
    <div class="col-md-6 col-lg-6 product-info-text">
        <p>{{product_information.history_of_product_3}}</p>
    </div>
</div>



{% endblock %}
