{% extends 'base.html' %} {% load staticfiles%} {% block content %}
<div class="row">
    
    {% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-bg d-flex align-items-stretch">
        <div class="card">
            <img style="background-image" src="{{ MEDIA_URL }}{{ product.image_1 }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p>{{ product.brand }}</p>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                    <button class="btn btn-dark" type="submit">Add</button>
                </span>
                    </div>
                </form>
                <form method="post" action="{% url 'product_information' product.pk %}">
                    {% csrf_token %}
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">More Information</button>
            </span>
                </form>





            </div>


        </div>
    </div>
    {% endfor %}</div>


</nav>
<!-------------------------------- https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html  ------------>
<hr>

<nav aria-label="Page navigation example">
    {% if products.has_other_pages %}
    <ul class="pagination justify-content-center pag-style">

        {% if products.has_previous %}
        <li class="active"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="disabled"></li>
        {% endif %} {% for i in products.paginator.page_range %} {% if products.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></li>
        {% else %}
        <li><a href="?page={{i}}">{{i}}</a></li>
        {% endif %} {%endfor%} {% if products.has_next %}
        <li class="active"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {%else%}
        <li class="disabled"></li>
        {% endif %}
    </ul>
    {% endif %}
</nav>

{% endblock %}
