body {
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    background-color: #ebf0f5;
}

.nav-item,
a {

    color: white;
}

.dropdown-item {
    color: #343a40;
}


.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}



caption p {
    word-wrap: break-word;
}


p {
    font-size: 1rem;
}

.nav-item {
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}


.search-form {
    margin-left: 6rem;

}

.control-label {
    font-size: 0.75rem;
}

.help-block {
    font-size: 0.8rem;
}

p.text-justify {
    margin: 1rem;
}

/*------------------------------------------------  product images */

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 150px;
    margin: 0 auto;
    border-radius: 23px;
}


.card {
    margin: 1.5rem;
    border-radius: 15px;
    


}

.card-body {}

.card-img-top {
    height: 15rem;
}



.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 20rem;
    margin: 0 auto;

}

.product-info-text {
    padding-left: 3rem;
    padding-right: 5rem;
    padding-top: 4rem;
}

.product-info-text,
p {
    font-size: 0.75rem;

}

/*------------------------------------------------ forms */

.forms {
    margin-left: 2rem;
    margin-right: 2rem;
}

.button-form {
    color: #26272b;
}

.reg-custom-bg {}

.custom-link {
    color: dodgerblue;
}

.label {
    font-size: 1rem;
}

/*------------------------------------------------ pagination */

.page-link {
    background-color: #212529;
    color: white;
    border-radius: 0.25rem;
}

.pag-style {
    padding-top: 4rem;
    padding-bottom: 4rem;
}



.fa {
    padding-right: 0.5rem;

}

/*------------------------------------------------ footer  https://codepen.io/scanfcode/pen/MEZPNd */

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}




.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #007bff;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.error {
    color: red;
}




.my-css-jumb {
    padding-left: 1rem;
}



/*------------------------------------------------ index --*/

.intro-heading {
    margin-top: 15px;
}


.intro-sub-heading {
    margin-top: 15px;
}


.carousel-image-size {
    border-radius: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
}


.index-images {
    margin-top: 1rem;
    border-radius: 15px;
}

.intro-text {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    font-size: 1rem;
}


@media (min-width: 768px) {
    
}

/*-------------------------------------cart---*/


.cart-qty-text{
    margin-right: 0.3rem;
}

.cart-qty{
    margin-right: 1rem;
}