{% extends "base.html" %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %} {% block content %} {% for item in cart_items %}
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
        <div class="card ">
            <img class="card-img-top" src="{{ MEDIA_URL }}{{ item.product.image_1 }}">
            <div class="card-body">
                <h5 class="card-title">{{ item.product.name }}</h5>
                <p class="card-text">{{ item.product.description }}
                </p>
                <h6 class="card-text"><i class="fa fa-eur" aria-hidden="true"></i> {{ item.product.price }}
                </h6>
                <hr>


            </div>
        </div>

    </div>
</div>
{% endfor %}
</div>
<div class="row justify-content-center">
    <p class="checkout-total-text">Total: </p>
    <p class="checkout-total"><i class="fa fa-eur" aria-hidden="true"></i>{{ total }}</p>
</div>

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>

    <div id="credit-card-errors" style="display: none;">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <div class="row">
        <div class="col-lg-6 order-form">
            <div class="form-group ">
                {{ order_form | as_bootstrap }}
            </div>
        </div>
        <div class="col-lg-6 payment-form">
            <div class="form-group">
                {{ payment_form | as_bootstrap }}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div>
            {% csrf_token %}
            <div class="form-group col-md-12">
                <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
            </div>
        </div>
    </div>
</form>
{% endblock %}
