{% extends 'base.html' %} {% load static from staticfiles %} {% block title %} View Cart {% endblock %} {% block page_heading %}View Cart{% endblock %} {% block content %}







<div class="row">
    {% for item in cart_items %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 checkout-product-bg">
        <div class="card ">
            <img class="card-img-top" src="{{ MEDIA_URL }}{{ item.product.image_1 }}">
            <div class="card-body">
                <h5 class="card-title">{{ item.product.name }}</h5>
                <p class="card-text">{{ item.product.description }}
                </p>
                <h6 class="card-text"><i class="fa fa-eur" aria-hidden="true"></i> {{ item.product.price }}
                </h6>
                <hr>

                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon cart-qty-text">Qty: </div>
                            <div class="input-group-addon cart-qty">{{item.quantity}}</div>
                            <input name="quantity" type="number" min="0" max="999" class="form-control">

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                </form>
            </div>
        </div>

    </div>
    {% endfor %}
</div>



<div class="row justify-content-center">
    <div class=""></div> Total
        <i class="fa fa-eur" aria-hidden="true"></i><span>{{ total }}</span>
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    </div>
</div>


{% endblock %}
